# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.

# ZSH specific aliases
alias zshconfig="vim ~/.zshrc"
alias sourcezsh="source ~/.zshrc"

# Change directories
alias -g ...='../..'
alias -g ....='../../..'
alias -g .....='../../../..'
alias -g ......='../../../../..'

# My personal aliases
alias nodeclr="rm -rf ./node_modules && yarn"
alias tmux="tmux -2"
alias ll="ls -lhFG"
alias la="ls -lahFG"
alias cdw="cd $WORK"
alias cdweb="cd ~/Documents/WebDev"
alias du="du -hd 1  | sort -hr | head -n 10"
alias ealias="vim ~/Dotfiles/shell/.aliases"
alias bat="bat --style full --paging always"
alias xt="x"
alias backup="~/Dotfiles/setup_scripts/npm_backup.sh && ~/Dotfiles/setup_scripts/brew_backup.sh && ~/Dotfiles/setup_scripts/code_backup.sh"
alias npmu="npx npm-check -u"
alias npmug="npx npm-check -gu"
alias npmi="rm -rf node_modules && npm i"
alias npms="npm start"

# my git aliases
alias gpfl="git push --force-with-lease"
alias gstau="git stash -u"
alias gstap="git stash apply"
alias gstak="git stash --keep-index"
alias gcnn='git commit -v --no-edit --amend --no-verify'
alias grs1='git reset --soft @~1'
alias gbls='git branch -v'
alias glg="git log --color --pretty=format:' %C(yellow)%h%Creset %s %C(bold green)<%an>%Creset %C(blue dim)%cD%Creset'"
alias glgg="git log --graph --color --pretty=format:' %C(yellow)%h%Creset %s %C(bold green)<%an>%Creset %C(blue dim)%cD%Creset'"
alias gcwip="git add -A && git commit -m WIP --no-verify"

# github issues alias
alias myghi="ghi list --mine"
