# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.

# ZSH specific aliases
alias zshconfig="vim ~/.zshrc"
alias ohmyzsh="vim ~/.oh-my-zsh"
alias sourcezsh="source ~/.zshrc"

# ZSH plugins
alias xt="extract"

# My personal aliases
alias nodeclr="rm -rf ./node_modules && yarn"
alias tmux="tmux -2"
alias ll="ls -lhFG"
alias la="ls -lahFG"
alias cdw="cd $WORK"

# my git aliases
alias gpfl="git push --force-with-lease"
alias gstau="git stash -u"
alias gstap="git stash apply"
alias gcnn='git commit -v --no-edit --amend --no-verify'
alias grs1='git reset --soft @~1'
alias gbls='git branch -v'
alias glg="git log --color --pretty=format:' %C(yellow)%h%Creset %s %C(bold green)<%an>%Creset %C(blue dim)%cD%Creset'"
alias glgg="git log --graph --color --pretty=format:' %C(yellow)%h%Creset %s %C(bold green)<%an>%Creset %C(blue dim)%cD%Creset'"

# github issues alias
alias myghi="ghi list --mine"
